<img id="modalPhoto" src={{modal.imageSrc}}/>
<div id="modalInfo">
  <div id="modalOwnerIcon">
    <a id="modalProfile" href={{modal.href}}><img src={{modal.iconSrc}}/></a>
  </div> <!--modalOwnerIcon end -->
  <div id="modalCaption">{{modal.caption}}</div>
</div><!-- modalInfo end -->