<header>
  <div id="headerContent">
    
    <div id="webInfo">
      <img src="{{headerBgImg}}">
      <div id="headerTransparent"></div>
      <h1 id="webTitle">Amefito faucibusa</h1>
      <div id="showNav">&#9776;</div>
    </div><!-- webInfo end -->
    
  </div><!-- headerContent end -->
</header>

<!-- Main content-->
<div id="mainContent">
  
  <div id="firstSection">
    <div id="navBar">
      
        <div id="navContainer">
          <div id="userInfo"></div><!-- For template -->
          <div id="navigation"></div> <!-- navigation template goes here -->
          <div id="logout"><button type="submit">Logout</button></div>
        </div>
      
      <div id="login"><button type="submit">Login</button></div>
      <div id="hideNav">Close</div>
    </div><!-- navBar end  -->

    <!-- Recently reviewed -->
    <div id="recentRev">
      <h3>Recently reviewed</h3>
      <!-- Recently reviewed thumbnails -->
      <div id="recentRevThumbnails">
        <div id="recentRevTemplate"></div>
      </div>
    </div><!-- Recently reviewed end -->
  </div><!-- firstSection end -->


  <div id="secondSection">
    <!-- Photo content-->
    <div id="title"></div> <!--title template-->
    
    <div id="contentContainer">
      <div id="welcome"></div>  <!--welcom template-->
    </div>
    
  </div><!-- secondSection end -->
</div> <!-- mainContent end-->

<!--modal -->
<div id="modal">
  <div id="modalContent">
    <span id="modalClose">&#10005;</span><!-- closing modal -->
    <div id="modalTemplate"></div>
  </div><!-- modalContent end -->
</div><!-- modal end -->
  
<footer>
  <p>COPYRIGHT 2018 | Web designe by Kate Chen</p>
</footer>
